/* andreas08 - an open source xhtml/css website layout by Andreas Viklund - http://andreasviklund.com . Free to use in any way and for any purpose as long as the proper credits are given to the original designer. Version: 1.0, November 28, 2005 */

/**************** Body and tag styles ****************/

* {
    margin: 0;
    padding: 0;
}

body {
    font: 76% Verdana, Tahoma, Arial, sans-serif;
    line-height: 1.4em;
    text-align: center;
    color: #303030;
    background: #e8eaec;
}

a {
    color: #467aa7;
    font-weight: bold;
    text-decoration: none;
    background-color: inherit;
}

a:hover {
    color: #2a5a8a;
    text-decoration: none;
    background-color: inherit;
}

a img {
    border: none;
}

p {
    padding: 0em 0 1.7em 0;
}

p form {
    margin-top: 0;
    margin-bottom: 20px;
}

img.left, img.center, img.right {
    padding: 4px;
    border: 1px solid #a0a0a0;
}

img.left {
    float: left;
    margin: 0 12px 5px 0;
}

img.center {
    display: block;
    margin: 0 auto 5px auto;
}

img.right {
    float: right;
    margin: 0 0 5px 12px;
}

/**************** Header and navigation styles ****************/

div#page {
    /*width: 760px;*/
    width: 100%;
    /*margin: 20px auto;*/
    padding: 1px 0;
    text-align: left;
    background: #ffffff;
    color: #303030;
    /*border: 2px solid #a0a0a0;*/
}

div#header {
    height: 80px;
    /*width: 758px;*/
    margin: 0 1px 1px 1px;
    background: #467aa7;
    color: #ffffff;
}

div#header h1 {
    padding: 20px 0 0 20px;
    font-size: 2.4em;
    background-color: inherit;
    color: #ffffff;
    letter-spacing: -2px;
    font-weight: normal;
}

div#header h2 {
    margin: 10px 0 0 40px;
    font-size: 1.4em;
    background-color: inherit;
    color: #f0f2f4;
    letter-spacing: -1px;
    font-weight: normal;
}

div#nav {
    height: 2.2em;
    line-height: 2.2em;
    /* width: 758px; */
    margin: 0 1px 1px;
    background: #578bb8;
    color: #ffffff;
}

div#nav li {
    float: left;
    list-style-type: none;
    border-right: 1px solid #ffffff;
    white-space: nowrap;
}

div#nav li a {
    display: block;
    padding: 0 10px;
    font-size: 0.8em;
    font-weight: normal;
    text-transform: uppercase;
    text-decoration: none;
    background-color: inherit;
    color: #ffffff;
}

* html div#nav a {
    width: 1%;
}

div#nav .selected, div#nav a:hover {
    background: #80b0da;
    color: #ffffff;
    text-decoration: none;
}

/**************** Content styles ****************/

div#main {
    float: left;
    /*margin-left: 40px;*/
    font-size: 0.9em;
    /*padding: 46px 0 0 20px;*/
    /*padding: 20px 20px 10px 0;*/
    height: 230px;
    margin-right:1px;
    width: 100%;
    overflow: auto;
}

div#main h1, div#main h2 {
    display: block;
    margin: 0 0 17px 0;
    font-size: 1.7em;
    font-weight: normal;
    letter-spacing: -1px;
    color: #505050;
    background-color: inherit;
}

div#main h2 {
    line-height: .6em;
    margin-bottom: 20px;
    margin-top: 1px;
}

div#main h2 a {
    font-weight: normal;
}

div#main h3 {
    margin: 0 0 5px 0;
    font-size: 1.4em;
    letter-spacing: -1px;
}

div#main p {
    margin: 0;
    line-height: 1.52em;
}

div#main a:hover, div#sub a:hover {
    text-decoration: underline;
}

div#main ul, div#main ol {
    margin: 0 5px 16px 35px;
}

div#main dl {
    margin: 0 5px 10px 25px;
}

div#main dt {
    font-weight: bold;
    margin-bottom: 5px;
}

div#main dd {
    margin: 0 0 10px 15px;
}

/**************** Sidebar styles ****************/

div#sub {
    /*float: right;*/
    width: 230px;
    /*padding: 47px 20px 10px 0;*/
    margin: 0 5px 0 5px;
    line-height: 1.4em;
    overflow: auto;
    height: 230px;
}

div#sub h2 {
    display: block;
    margin: 0 0 15px 0;
    font-size: 1.6em;
    font-weight: normal;
    text-align: left;
    letter-spacing: -1px;
    color: #505050;
    background-color: inherit;
}

div#sub p {
    margin: 0 0 16px 0;
    font-size: 0.9em;
}

/**************** Menublock styles ****************/

.menublock {
    margin: 0 0 20px 8px;
    font-size: 0.9em;
}

.menublock li {
    list-style: none;
    display: block;
    padding: 2px;
    margin-bottom: 2px;
}

.menublock li a {
    font-weight: bold;
    text-decoration: none;
}

.menublock li a:hover {
    text-decoration: none;
}

.menublock li ul {
    margin: 3px 0 3px 15px;
    font-size: 1em;
    font-weight: normal;
}

.menublock li ul li {
    margin-bottom: 0;
}

.menublock li ul a {
    font-weight: normal;
}

/**************** Searchbar styles ****************/

div#searchbar {
    margin: 0 0 10px 0;
}

div#searchbar form fieldset {
    margin-left: 0px;
    border: 0 solid;
}

div#searchbar #s {
    height: 1.2em;
    margin: 0 5px 0 0;
    border: 1px solid #a0a0a0;
    width: 100px;
    font-size: .9em
}

div#searchbar #searchbutton {
    width: auto;
    padding: 0 1px;
    border: 1px solid #808080;
    font-size: 0.9em;
    text-align: center;
}

/**************** form styles ****************/
.button, button {
   padding: 2px;
   background-color: #467aa7;
   color: #FFFFFF;
   border: 1px outset #2763A5;
   font-size: 11px;
}

div#main form ul {
    margin: 0;
}

div#main form p {
    border-bottom: 0px;
    padding-bottom: 0px;
}

/**************** Footer styles ****************/

div#footer {
    clear: both;
    /*width: 758px;*/
    padding: 5px 0;
    margin: 0 1px;
    font-size: 0.9em;
    color: #f0f0f0;
    background: #467aa7;
}

div#footer p {
    padding: 0;
    margin: 0;
    text-align: center;
}

div#footer a {
    color: #f0f0f0;
    background-color: inherit;
    font-weight: bold;
}

div#footer a:hover {
    color: #ffffff;
    background-color: inherit;
    text-decoration: underline;
}

/**************** Misc classes and styles ****************/

.splitcontentleft {
    float: left;
    width: 48%;
}

.splitcontentright {
    float: right;
    width: 48%;
}

.clear {
    clear: both;
}

.small {
    font-size: 0.8em;
}

.hide {
    display: none;
}

.textcenter {
    text-align: center;
}

.textright {
    text-align: right;
}

.important {
    color: #f02025;
    background-color: inherit;
    font-weight: bold;
}

.box {
    margin: 0 0 20px 0;
    padding: 10px;
    border: 1px solid #c0c0c0;
    background-color: #fafbfc;
    color: #505050;
    line-height: 1.5em;
}
