<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="es">
<head>
    <meta http-equiv="content-type" content="text/html; charset=ISO-8859-1"/>
    <title>{% block title %}.::. Mapa de Asunción - Junta Municipal .::.{% endblock %}</title>
    <meta name="author" content="Alberto G. / Original design by Andreas Viklund - http://andreasviklund.com"/>
    {% block stylesheet %}
    <link rel="stylesheet" type="text/css" media="screen,projection,print" href="/styles/default.css" />
    {% endblock %}
    {% block extraheader %}{% endblock %}
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
</head>
<body id="page-home" {% block bodyattr %}{% endblock %}>
<div id="page">
    <div id="header">
        <div id="logo">
            <h1>Mapa de Asunción</h1>
            <h2>Junta Municipal de la Ciudad de Asunción</h2>
        </div>
        <div id="branding"></div>
    </div>
    <div id="content">
    <table id="layout" width="100%" cellspacing="0">
    <tr valign="top">
    <td colspan="2">
    {% block nav %}
    <div id="nav">
        <div class="wrapper">
            <h2 class="hide">Navigation</h2>
            <ul class="clearfix">
                <li class="selected"><a href="/">Inicio</a></li>
                <li><a href="#">Ayuda</a></li>
                <li><a href="">Acerca de</a></li>
                <li><a href="form.html">Contactos</a></li>
            </ul>
        </div>
    </div>
    {% endblock %}
    </td>
    </tr>
    <tr valign="top">
        <td width="230"><div id="sub">
        {% block sub %}
        {% endblock %}
        </div></td>
        <td><div id="main">
        {% block main %}
        {% endblock %}
        </div></td>
    </table>
    </div><!-- end content -->

    <div id="footer">
        <p>&copy; 2009 <a href="#">Alberto Giménez</a> | Design by <a href="http://andreasviklund.com">Andreas Viklund</a></p>
    </div>
</div>
</body>
</html>