{% if resultado %}
$('{{ search_type }}results').update("<h5>Resultados de la búsqueda</h5>" +
{% for row in items %}
"<a class='wikilink1' style='cursor: pointer;' onclick='javascript:markFeature({{ row.id }}, \"{{ row.wiki_id }}\", {{ row.the_geom.geojson }}, {{ row.the_geom.extent.0 }}, {{ row.the_geom.extent.1 }}, {{ row.the_geom.extent.2 }}, {{ row.the_geom.extent.3 }})'>{{ row.abrev }}</a><br>" +
{% endfor %}
"<hr class='clear-contentunit'/>");
{% endif %}
$("{{ search_type }}notice").update("{{ count }} Resultados Disponibles");
$("{{ search_type }}search_results").show();
Element.scrollTo($('{{ search_type }}search_results'));
new Effect.Highlight("{{ search_type }}results",{});