{% extends 'base.html' %}

{% block extraheader %}
<script type="text/javascript" src="/javascripts/prototype.js"></script>
<script type="text/javascript" src="/javascripts/effects.js"></script>
{{ google.style }}
{{ google.scripts }}
{% endblock %}

{% block bodyattr %} onload="resizeApp(); gmap_load();" {{ google.unload }} onresize="resizeApp()"{% endblock %}

{% block sub %}
<div class="small box"><strong>Nota: </strong>
Realice una busqueda rápida utilizando el campo de abajo y presione el botón encontrar.
Si desea más ayuda puede hacer click en el botón de ayuda que se encuentra a lado del botón encontrar.
</div>

<h2>Busqueda Rápida</h2>
<ul class='menublock'><li>
<form action="search.xhr" method="post" onsubmit="return goSearch(this);">
<div id="form" class="form">
    <input class="text" id="query" name="query" type="text" />
    <input id="searchbutton" class="button" name="commit" type="submit" value="Encontrar" />
    <a id="help" onclick="$('map').scrollTo(); $('stip').show()"  href="javascript:void(0)"><img alt="Tip" border="0" src="/images/tip.gif" /></a>
</div>
</form>
</ul>

<h2>Resultados</h2>
<ul class='menublock'><li>
<div id="progress" style="display:none;"><img alt="Busybar" src="/images/busybar.gif" /></div>
<div id="search_results">
    <div id="results"></div>
    <div id="notice"></div>
</div>
</ul>

{% endblock %}

{% block main %}
<div id="map" style="position: relative; background-color: rgb(229, 227, 223);"><div id="msg" style="color: gray; font-size: 1em">Cargando ...</div></div>
<div id="stip" style="display: none; border:1px solid #979797; position: absolute; opacity: 0.8; background-color: #FFFFFF; width: 650px; padding: 0 0 0 10px; left: 450px; top: 220px;">
    <!--hr class="clear-contentunit"/-->
    <h1>Búsqueda Rápida</h1>
 
    <p>Los elementos de búsqueda disponibles son calles e intersecciones, el formato de la búsqueda es<br>
    <code>nombre de calle [número] [/ nombre de intersección][, nombre de barrio][, nombre ciudad]</code><br>
    donde los elementos entre corchetes son opcionales.
    </p>
    <p> Ejemplos:
        <ul>
            <li>Carlos López</li>
            <li>eusebio ayala / chaco</li>
            <li>avenida, lambare</li>
        </ul>
    </p>
    <center><a id="closeme" onclick="$('stip').hide()" href="javascript:void(0)">Cerrar</a></center>
</div>
{% endblock %}