{% if resultado %}
$('{{search_type}}_results').update("<h5>Resultados de la búsqueda</h5>" +
{% for row in items %}
"<a class='wikilink1' style='cursor: pointer;' onclick='javascript:markFeature({{ row.id }}, null, \"{{ row.wiki_id }}\", {{ row.the_geom.geojson }}, {{ row.the_geom.extent.0 }}, {{ row.the_geom.extent.1 }}, {{ row.the_geom.extent.2 }}, {{ row.the_geom.extent.3 }})'>{{ row.nombre }}, {{ row.tipo.descripcion }}</a><br>" +
{% endfor %}
"<hr class='clear-contentunit'/>");
{% endif %}
$("{{search_type}}_notice").update("{{ count }} Resultados Disponibles");
$("{{search_type}}_search_results").show();
Element.scrollTo($('{{search_type}}_search_results'));