{% extends "admin/base.html" %}

{% block title %}{{ title }} | Administrador de Datos{% endblock %}

{% block extrastyle %}
<link type="text/css" rel="stylesheet" href="/media/styles/theme/default/style.css" />
{% endblock %}

{% block branding %}
<div id="logo" class="logo">
    <h1><a href="/">Junta Municipal de Asunción</a></h1>
    <p>Asunción y sus calles</p>
</div>
{% endblock %}

{% block footer %}
<div id="footer">
	<p>© 2009. Dirección de Archivos, Organización y Sistemas de la Junta Municipal de Asunción. Todos los derechos reservados.
Design by <a mailto="agimenez@jma.gov.py">Alberto Giménez E.</a>.
    </p>
</div>
{% endblock %}
